/* Style the header */
/* Lab that I referenced for this file is the pokemon lab.  I also referenced the following links for header/sidebar layout and hiding elements:*/
/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_float */
/* https://alexcican.com/post/hide-and-show-div/#:~:text=In%20the%20CSS%20we%20will%20add%20two%20classes.,affect%20the%20span%20element%20inside%20the%20outer%20div. */

header {
    background-color: rgb(68, 48, 48);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 15%;
    background: white;
    padding: 20px;
    border: black;
  }
  
  /* Navigation Bar */
  nav ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px;
  }
  nav li{
    border-style: solid;
    text-align: center;
    padding: 10px;
  }

  nav li:hover{color: green}

  nav input {width: 100%}

  /* classes in nav */

  .clickable:hover {color: rgb(88, 6, 26)}

  .selected {
    background-color: rgb(25, 25, 158);
    color: white;
  }

  /* Card Deck */
   div#card-deck{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 50px;
  }

  div.card {
    background-color: #e6b3b3;
    height: 200px;
    width: auto;
    box-shadow: 10px 10px rgb(99, 99, 99);
    padding: 10px;
    border-radius: 10px;
  }

  /* General */
  
  p {
    font-size: .80em;
    color: black;
    font-family: Calibri;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: .65em;
    color: white;
    background-color: rgb(88, 6, 26);
    border-radius: 10px;
  }

  /* Create Pet Form */
  div.hidden {display: none}

  label { 
   font-size: .80em;
   font-family: Calibri;
  }
